@{
    ViewData["Title"] = "Testing Page!";

}


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Ecom</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/Specifications.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/Ecom.styles.css" asp-append-version="true" />

  <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/adminlte.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />

    <script src="~/js/sweetalert2.js" asp-append-version="true"></script>

</head>

<body>

    <h1>Hello World</h1>

    <!-- Main Sidebar Container -->

    <!-- The sidebar -->
@*    <div class="sidebar">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <!-- Page content -->
    <div class="content">
        ..
    </div>*@


</body>

